Desktop/FCOM-2518/Common/AmadeusInterfaces/wsdl/air/Air_FlightInfo_07_1_1A.xsd

<xs:schema targetNamespace="http://xml.amadeus.com/FLIREQ_07_1_1A" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://xml.amadeus.com/FLIREQ_07_1_1A" xmlns:air="http://i3l.com/finnair/1A/xsd/Process_Info">
  <xs:import namespace="http://i3l.com/finnair/1A/xsd/Process_Info" schemaLocation="../common/Process_Info.xsd"/>
  <xs:element name="Air_FlightInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="generalFlightInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="flightDate" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="departureDate" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n6</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="6"/>
                          <xs:maxLength value="6"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="departureTime" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n4</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="4"/>
                          <xs:maxLength value="4"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="arrivalDate" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n6</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="6"/>
                          <xs:maxLength value="6"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="arrivalTime" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n4</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="4"/>
                          <xs:maxLength value="4"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="dateVariation" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n1</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="boardPointDetails" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="trueLocationId" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: a3..5</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="3"/>
                          <xs:maxLength value="5"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="offPointDetails" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="trueLocationId" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: a3..5</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="3"/>
                          <xs:maxLength value="5"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="companyDetails" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="marketingCompany">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="operatingCompany" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="flightIdentification" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flightNumber">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="4"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="operationalSuffix" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="1"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="flightTypeDetails" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="flightIndicator" minOccurs="0" maxOccurs="9">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..6</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="6"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="marriageDetails" minOccurs="0" maxOccurs="99">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="relation" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="marriageIdentifier" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="lineNumber" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
                          </xs:annotation>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="otherRelation" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="1"/>
                          <xs:maxLength value="3"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="carrierCode" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:annotation>
                            <xs:documentation xml:lang="en">Format limitations: a2</xs:documentation>
                          </xs:annotation>
                          <xs:minLength value="2"/>
                          <xs:maxLength value="2"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Air_FlightInfo_Custom">
  <xs:complexType>
   <xs:sequence>
      <xs:element ref="Air_FlightInfo" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="air:processInfo" minOccurs="1" maxOccurs="1"/>
   </xs:sequence> 
   </xs:complexType> 
  </xs:element>
</xs:schema>